                                    /*resetar o documento*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

                                    /*Formatação do menu*/
nav#menu {
    background-color: #141A37;
    width: 300px;
    height:100vh;
    
}

nav#menu ul{                        /*Formatação da li menu*/
    text-align: center;
    font-family: 'h Hadir Sans', sans-serif;
}

nav#menu ul li{
    display: inline;
    position: relative;
}

nav#menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 15px;
}

nav#menu li :hover {
    background-color: white;
    color: #141A37;
}

                                /*Formatação do dropdown*/

nav#menu ul ul {
    display: none;
    position: absolute;
}

nav#menu ul li:hover ul {
    display: inline-block;
    margin-left: 150px;
    width: 200px;
    top: 0;
    background-color: #141A37;
    color: white;
}

.active {           /*deixa a página que está ativa com uma cor diferente*/
    background-color: #00C899;
    color: white;
}

img {
    padding-bottom: 20px;
}

                                /*Formatação do cabeçalho*/

header {
    position: absolute;
    top: 0;
    left: 300px;
    width: 1200px;
    margin: 10px 0px 0px 10px;
}

p {
    width: 30%;
    position: absolute;
    top: 0;
    left: 0px;
    font-weight: bolder;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 15%;
    position: absolute;
    right: 0;
    padding: 10px;
    border: 2px solid rgb(184, 182, 182);
    border-radius: 6px;
    font-size: 16px;
}

div.conteudo {
    position: absolute;
    border: solid red;
    top: 100px;
    left: 300px;
    width: 1200px;
    margin: 10px 0px 0px 10px;
}