/*resetar o documento*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Formatação do menu*/
nav#menu {
    background-color: #141A37;
    width: 300px;
    height:100vh;
}

nav#menu ul{ /*Formatação da li menu*/
    text-align: center;
    font-family: 'h Hadir Sans', sans-serif;
}

nav#menu ul li{
    display: inline;
    position: relative;
}

nav#menu li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 15px;
}

nav#menu li :hover {
    background-color: white;
    color: #141A37;
}

/*Sub menu*/
nav#menu ul ul { /*ocultar os menus suspensos*/
    display: none;
    position: absolute;
}

nav#menu ul li:hover ul { /*mostrar os itens*/
    display:block;
}

nav#menu ul ul {
    width: 200px;
    background-color: rgb(228, 228, 228);
    margin-left: 300px;
    position: absolute;
    top: 0px;
}

nav#menu ul ul li a {
    display: block;
}

.active { /*deixa a página que está ativa com uma cor diferente*/
    background-color: #00C899;
    color: white;
}

img {
    padding-bottom: 20px;
}

.logout {
    position: fixed;
    margin-bottom: -1000px;
}

/*Formatação do cabeçalho*/
section#cabecalho {
    display: block;
    width: auto;
    float: inline-start;
    padding-left: 330px;
}

section#cabecalho p {
    font-weight: bolder;
    text-transform: uppercase;
}

section#funcionarios-ativos {
    float: left;
    padding-left: 330px;
    margin-top: 10px;
}

aside#sua-atividade {
    float: right;
    padding-right: 100px;
}

